<%= form_for(@thinker) do |f| %>
  <% if @thinker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thinker.errors.count, "error") %> prohibited this thinker from being saved:</h2>

      <ul>
      <% @thinker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <%-# added the email field above in accordance with level 4 -%>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
