<div id=thought>
	<% thought = Thought.find(params[:id]) %>
	
	<div class=thoughtquote>
		<h1>
			<%= thought.thought %>
		</h1>
	</div>
	
	<div class=thinker>
		<h3>
			A thought by  <%= link_to thought.thinker.name, thought.thinker %>
		</h3>
	</div>
	
	
	<br />
	<div class=thumbers>
		<h2>
			Thumbers of this thought:
		</h2>
			<div class=thumbername>
				<% if @thumbers.length == 0 %>
				<% #if empty, write an empty statement -%>
					<%= "There are no thumbers for this thought." %>
				<% else %>
					<% @thumbers.each do |thumber| %>
						<% if thumber.thinker %>
							<%= link_to thumber.thinker.name, thumber.thinker %><br />
							<% #makes the list of thinkers that thumbed the thought -%>
						<% end %>
						
					<% end %>
					
				<% end %>
			</div>
			
	</div>
	
</div>

<p>

<br />

<%= link_to "Back", thoughts_path %> | 
<%= link_to "Home", thoughts_path %>
</p>